## **04. Data Types**

### **- 02. Variables**

1. **Simple Assignment**
   - Create a variable named `fruit` and assign it the value "apple".
   - Print the value of `fruit`.
   - Change the value of `fruit` to "banana" and print it again.

In [1]:
fruit = "apple"
print(fruit)

fruit = "banana"
print(fruit)

apple
banana

2. **Using Constants**
   - Make a constant named `MAX_SCORE` and set its value to 100.
   - Try to change the value of `MAX_SCORE` to 90 and see what happens. Can you change it? Why?

In [ ]:
MAX_SCORE = 100
print(MAX_SCORE)
MAX_SCORE = 90
print(MAX_SCORE) # Python doesn't support constant data types

100
90

3. **Variable Names**
   - Create three variables: `myAge`, `my_name`, and `MyHeight`.
   - Assign any values to these variables and print them.

In [ ]:
myAge = 20; my_name = "Muhammad"; MyHeight = 185
print(f"I'm {my_name}, {myAge} years old and my height is {MyHeight}")

I'm Muhammad, 20 years old and my height is 185

4. **Reserved Keywords**
   - Try to create a variable with the name `while`. What happens?
   - Rename the variable to something that's not a reserved keyword and print its value.

In [ ]:
while = 20 # while is a reserved keyword and cannot be assigned as a variable name

SyntaxError: invalid syntax (835767674.py, line 5)

5. **Multiple Assignments**
   - Assign values to three variables `x`, `y`, and `z` in a single line.
   - Print the values of `x`, `y`, and `z`.

In [ ]:
x = 2; y = -1; z = 0
print(x,y,z)

2 -1 0

### **- 15. Common List Operations**

1. **Create and Modify List**
    - Create a list named `colors` containing 'red', 'green', 'blue', and 'yellow'. Then, change 'blue' to 'aqua' and append a new color, 'purple', to the list.

In [35]:
colors = ['red', 'green', 'blue', 'yellow']
colors[colors.index('blue')] = 'aqua'
colors.append('purple')

print(colors)

['red', 'green', 'aqua', 'yellow', 'purple']

2. **Access and Slice**
    - Given the list `nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]`, access and print the fifth element in `nums`, and create a slice of `nums` that contains only the even numbers.

In [36]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(nums[5])
even_nums = nums[::2]
print(even_nums)

5
[0, 2, 4, 6, 8]

3. **List Membership Testing**
    - Create a list containing your five favorite food items, then write a small script that checks if 'pizza' is among your favorites and prints an appropriate message whether it is found or not.

In [37]:
favorite_foods = ['Pizza', 'Burger', 'Spagethi', 'Kebab', 'Fish']
if 'Pizza' in favorite_foods:
    print('You love pizza.')
else:
    print('You don\'t love pizza')

You love pizza.

4. **Concatenation and Repetition**
    - Concatenate the following two lists `list_a = [1, 2, 3]` and `list_b = [4, 5, 6]` and create a third list that contains three repetitions of the concatenated list.

In [38]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_c = (list_a + list_b) * 3
print(list_c)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

### **- 18. Accessing and Modifying Dictionary**

1. **Create a Dictionary**:
   - Instantiate a dictionary `book_genre` that maps book titles to their respective genres. Add at least three key-value pairs to it.
   - Example: One pair could be "To Kill a Mockingbird": "Classic Fiction".

In [48]:
book_genre = {
    "To Kill a Mockingbird": "Classic Fiction",
    "Shahnameh": "Mythology",
    "Sapiens": "History"
}

2. **Retrieve and Print**:
   - Given the `book_genre` dictionary, print the genre of "To Kill a Mockingbird". What happens if you try to print the genre of a book not present in your dictionary?

In [49]:
print(book_genre["The Great Gatsby"]) # Throws an error

KeyError: 'The Great Gatsby'

3. **Updating Dictionary Values**:
   - For the `book_genre` dictionary, update the genre of one of your books to "Literary Fiction".
   - Add a new book and its genre to the dictionary.

In [50]:
book_genre["Shahnameh"] = "Literary Fiction"
book_genre["Hamlet"] = "Play"

4. **Remove Items**:
   - From the `book_genre` dictionary, remove a book of your choice using the `pop()` method and display the removed genre.
   - Use the `del` statement to remove another book. Try using the `del` statement with a non-existent key and handle the `KeyError` with a try-except block.

In [51]:
print(book_genre.pop("Hamlet"))
del book_genre["Shahnameh"]
print(book_genre.pop("Farewell to Arms", "Farewell to Arms doesn't exist in the library"))

Play
Farewell to Arms doesn't exist in the library

5. **Iterating Over a Dictionary**:
   - Create and print a list of all book titles (keys) in the `book_genre` dictionary.
   - Create and print a list of all genres (values) in the `book_genre` dictionary without any duplicates.

In [52]:
book_genre = {
    "To Kill a Mockingbird": "Classic Fiction",
    "Shahnameh": "Mythology",
    "Sapiens": "History",
    "Hamlet": "Play",
    "Farewell To Arms": "Novel",
    "The Great Gatsby": "Novel"
}

print(book_genre.keys())
print(set(book_genre.values()))

dict_keys(['To Kill a Mockingbird', 'Shahnameh', 'Sapiens', 'Hamlet', 'Farewell To Arms', 'The Great Gatsby'])
{'Novel', 'Classic Fiction', 'History', 'Mythology', 'Play'}

6. **Dictionary Comprehension**:
   - Create a dictionary `squared_numbers` using dictionary comprehension that maps numbers (1-10) to their squares.

In [53]:
squared_numbers = {x:x**2 for x in range(1,11)}
print(squared_numbers)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

7. **Nested Dictionaries**:
   - Create a nested dictionary `library` where each key is a genre and each value is a dictionary of books of that genre. Add at least two genres, each with at least two books.

In [55]:
library = {
    "Novel": {
        "Farewell to Arms": "Hemingway",
        "The Great Gatsby": "Fitzgerald"
    },
    "Play":{
        "Hamlet": "Shakespeare",
        "Death of a Salesman": "Arthur Miller"
    }
}

8. **Clearing a Dictionary**:
   - Clear all contents of the `book_genre` dictionary and print its contents to confirm it's empty.

In [56]:
library.clear()
print(library)

{}

### **- 19. Dictionary Manipulation and Practical Uses**

1. **Membership Test**:
   - Given a dictionary `city_presence = {'New York': True, 'Berlin': True, 'Tokyo': True, 'Sydney': True}`.
   - Determine if 'London' and 'Tokyo' are keys in `city_presence` by using membership tests.

In [57]:
city_presence = {'New York': True, 'Berlin': True, 'Tokyo': True, 'Sydney': True}
print('London' in city_presence)
print('Tokyo' in city_presence)

False
True

2. **Default Values with `setdefault`**:
   - Create a dictionary `student_score = {'Alice': 88, 'Bob': 95}`.
   - Use the `setdefault` method to return 'Bob's score and insert 'Charlie' with a score of 0 if he doesn't exist in the dictionary. Display the dictionary after this operation.

In [58]:
student_score = {'Alice': 88, 'Bob': 95}
print(student_score.setdefault('Bob', 0))
print(student_score.setdefault('Charlie', 0))

95
0

3. **Updating a Single Item**:
   - Starting with the dictionary `preferences = {'color': 'blue', 'food': 'pizza', 'drink': 'water'}`.
   - Update the value associated with the key 'drink' to 'orange juice'.

In [60]:
preferences = {'color': 'blue', 'food': 'pizza', 'drink': 'water'}
preferences.update({'drink':'orange juice'})

4. **Dictionary Merging and Updating**:
   - Create two dictionaries: `stock_A = {'apples': 5, 'oranges': 7}` and `stock_B = {'oranges': 12, 'bananas': 3}`.
   - Update `stock_A` with the contents of `stock_B` and observe how the value for 'oranges' changes.

In [61]:
stock_A = {'apples': 5, 'oranges': 7}
stock_B = {'oranges': 12, 'bananas': 3}
stock_A.update(stock_B)
print(stock_A['oranges'])

12

5. **Nested Dictionary Access**:
   - With a nested dictionary `account_info = {'user1': {'name': 'Alice', 'password': 'alice123'}, 'user2': {'name': 'Bob', 'password': 'bobsecure'}}`, access and display the password for 'user1'.

In [62]:
account_info = {'user1': {'name': 'Alice', 'password': 'alice123'}, 'user2': {'name': 'Bob', 'password': 'bobsecure'}}
print(account_info['user1']['password'])

alice123

### **- 20. Sets**

1. **Set Creation and Membership**
    - Create a set named `colors` that contains the colors 'red', 'green', 'blue', and 'yellow'. Verify if 'purple' is in the `colors` set. Add 'purple' to the set and check again.

In [64]:
colors = {'red', 'green', 'blue', 'yellow'}
print('purple' in colors)

colors.add('purple')
print('purple' in colors)

False
True

2. **Unique Elements**
    - Given the list `numbers_list = [1, 2, 3, 4, 3, 2, 1, 5, 6, 5, 4]`, create a set named `unique_numbers` from this list. Determine how many unique numbers are in `numbers_list` by checking the size of `unique_numbers`.

In [65]:
numbers_list = [1, 2, 3, 4, 3, 2, 1, 5, 6, 5, 4]
unique_numbers = set(numbers_list)
print(len(unique_numbers))

6

3. **Adding Multiple Elements**
    - You have a set `flavors` containing 'chocolate', 'vanilla', and 'strawberry'. Update `flavors` to include 'mint' and 'bubble gum' using a single command.

In [69]:
flavors = {'chocolate', 'vanilla', 'strawberry'}
flavors.update({'mint', 'bubble gum'})

4. **Removing Elements**
    - There is a set `tools` with elements 'hammer', 'wrench', 'screwdriver', and 'pliers'. Remove 'wrench' from `tools` using `.remove()`. Then, using `.discard()`, attempt to remove 'saw' from `tools`.

In [70]:
tools = {'hammer', 'wrench', 'screwdriver', 'pilers'}
tools.remove('pilers')
tools.discard('saw')

5. **Safe Element Removal**
    - Create a set `planets` including 'earth', 'jupiter', and 'mars'. Safely remove 'venus' from the set `planets` using a method that will not raise an error even if the item does not exist.

In [71]:
planets = {'earth', 'jupiter', 'mars'}
planets.discard('venus')

6. **Clearing a Set**
    - Take the `planets` set and clear all of its elements, ensuring that it is emptied completely.

In [72]:
planets.clear()
print(planets)

set()

### **- 21. Set Operations**

Given the following sets:

In [73]:
set_x = {10, 20, 30, 40, 50}
set_y = {30, 40, 50, 60, 70}
set_z = {5, 15, 25, 35}

1. Find the union of `set_x` and `set_y` using both the `.union()` method and the `|` operator. Verify that the result is the same.

In [77]:
print(set_x.union(set_y))
print(set_x | set_y)
print(set_x.union(set_y) == set_x | set_y)

{70, 40, 10, 50, 20, 60, 30}
{70, 40, 10, 50, 20, 60, 30}
True

2. Compute the intersection of `set_x`, `set_y`, and `set_z` using the `.intersection()` method.

In [78]:
print(set_x.intersection(set_y,set_z))

set()

3. Determine the symmetric difference between `set_y` and `set_z` using both the `.symmetric_difference()` method and the `^` operator. Check if the outcomes match.

In [79]:
print(set_y.symmetric_difference(set_z))
print(set_y ^ set_z)
print(set_y.symmetric_difference(set_z) == set_y ^ set_z)

{35, 5, 70, 40, 15, 50, 25, 60, 30}
{35, 5, 70, 40, 15, 50, 25, 60, 30}
True

4. Use the difference operator `-` to find elements in `set_x` that are not in `set_y`.

In [80]:
print(set_x - set_y)

{10, 20}

5. Attempt to perform an operation that combines all three sets, `set_x`, `set_y`, and `set_z`, into a new set containing elements shared by at least two of the sets. Hint: You may need to use method chaining or additional parentheses with operators to achieve this.

In [81]:
xyz_union = set_x | set_y | set_z
x_diff_yz = set_x - set_y - set_z
y_diff_yz = set_y - set_x - set_z
z_diff_yz = set_z - set_x - set_y
print(xyz_union - x_diff_yz - y_diff_yz - z_diff_yz)

{40, 50, 30}

### **- 22. Frozensets**

1. **Creating and Using `frozenset`**
    - Create a `frozenset` named `permissions` that contains the strings 'read', 'write', and 'execute'. Then, check to see if the permission 'delete' is included in the `permissions` set.

In [83]:
permissions = frozenset({'read', 'write', 'execute'})
print('delete' in permissions)

False

2. **Set Operations with `frozenset`**
    - Given `frozenset` A as `{1, 2, 3}` and `frozenset` B as `{2, 3, 4}`:
        - Find the union of A and B.
        - Determine the intersection.
        - Calculate the difference between A and B.

In [84]:
A = frozenset({1,2,3})
B = frozenset({4,5,6})
print(A | B)
print(A & B)
print(A - B)

frozenset({1, 2, 3, 4, 5, 6})
frozenset()
frozenset({1, 2, 3})

3. **Using `frozenset` as a Dictionary Key**
    - Create a dictionary `graph` where each key is a `frozenset` representing an edge in a graph, and the value is the weight of that edge. Here's an example edge: a `frozenset` of nodes (1, 2) with an edge weight of 10. Add at least two more edges with different weights.

In [85]:
graph = {
    frozenset({1,2}): 10,
    frozenset({1,3}): 6,
    frozenset({2,3}): 8
}

4. **Converting to `frozenset`**
    - Take the list `['apple', 'banana', 'apple', 'cherry']` and convert it into a `frozenset` named `unique_fruits`. Verify that duplicates have been removed by converting the `frozenset` back to a list and checking its contents.

In [86]:
unique_fruits = frozenset(['apple', 'banana', 'apple', 'cherry'])
print(list(unique_fruits))

['apple', 'banana', 'cherry']

### **- 23. Packing and Unpacking**

1. **Packing into Tuples**:
   - Create a tuple called `student_info` by packing the following individual variables: `name`, `age`, `grade`, and `subject`, which hold a student's name, age, grade (as a letter), and favorite subject, respectively.

In [89]:
name = 'Ali'
age = 16
grade = 'A'
subject = 'Math'
student_info = (name, age, grade, subject)

2. **Unpacking from Tuples**:
   - Given a tuple `coordinates` with three elements representing x, y, and z coordinates, unpack these values into separate variables called `x`, `y`, and `z`. Print the variables.

In [91]:
coordinates = (5.5, 10, 11)
x, y, z = coordinates
print(x, y, z)

5.5 10 11

3. **Unpacking from Lists**:
   - Suppose you have a list of scores `[72, 85, 90]`. Unpack the scores into variables `math_score`, `science_score`, and `english_score`, respectively. Then, print these variables.

In [92]:
scores = [72, 85, 90]
math_score, science_score, english_score = scores
print(math_score, science_score, english_score)

72 85 90

4. **Unpacking Dictionaries**:
   - Given a dictionary `student`, with keys `name`, `age`, and `email`, unpack the values of this dictionary into variables `student_name`, `student_age`, and `student_email`. Print the variables.

In [93]:
student = {
    'name': 'Ali',
    'age': 16,
    'email': 'ali@school.com'
}
student_name, student_age, student_email = student.values()
print(student_name, student_age, student_email)

Ali 16 ali@school.com

5. **Extended Unpacking with Lists**:
   - You have a list of numbers `[1, 2, 3, 4, 5, 6, 7, 8]`. Use extended unpacking to get the first two numbers into variables `first_num` and `second_num`, and the rest of the numbers into a list called `remaining_numbers`.

In [94]:
first_num, second_num, *remaining_numbers = [1, 2, 3, 4, 5, 6, 7, 8]

6. **Bonus: Swapping Values**:
   - Without using a temporary variable, swap the values of two variables `a` and `b` using packing and unpacking.

In [95]:
num_a = 1
num_b = 20
num_a, num_b = num_b, num_a
print(num_a, num_b)

20 1